.block {
  text-align: center;
  margin: 20px;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
    
  /* For visualization 
  background: #808080; width: 5px;
  */
 }
 
.centered {
  margin-top: 121px;
  vertical-align: middle;
  width: 200px;
  padding: 10px 10px;
  height: 100%;
  text-align: center;

  border: #a0a0a0 solid 1px;
  background: #f5f5f5;
 }
